__pycache__/
*.py[cod]
.venv*/
.env
.DS_Store
*.pt
*.pth
*.ckpt
*.safetensors
*.pkl
*.ttf
*.otf
*.zip
**/Datasets/raw/
**/Datasets/formatted/
**/outputs/
**/checkpoints/
**/inference_assets/
deed_segmenter/data/
results/generated/
